  
.rblock{
	border: 1px solid #888888;
  padding: 10px;
  box-shadow: 10px 5px 15px #595959;
  border-radius:10px;
	margin: auto;
	width:900px;
	 height:auto;
  
   background-color:#a3a3c2;
   }

input{
	    border-radius:5px;
	    width: 800px;
          margin:20px 20px 20px;
	font-size: 20px;
	height:40px;
}
label{
	font-size:20px;
	margin:10px;
}
 a:hover{
 	      color:red;
 }
 input:hover{
 	          border:5px solid #66b3ff;

 }
 h1{
 	 color: #00264d;
 }